:root{
    --text-primary: #000;
    --text-secondary: #000;
    --bg-primary: #000;
    --bg-secondary-initial:#000;
    --bg-secondary-final: #000;
    --font-h1: 2px;
    --font-h2: 2px;
    --font-span: 3px;
    }

